h1{
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana;
  color: white;
  text-align: center;
}
h3{
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: aquamarine;
}
.image{
  text-align: center;
}
.video{
  text-align: center;
}
